html {
    font-family: 'Gothic A1';
    font-size: 100%;
    background-color: #1DB954;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
}

li {
    float: left;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#small-navbar-logo {
    width: clamp(1.25rem, 3vw, 3.75rem);
    height: auto;
    margin: auto;
    position: absolute;
    left: 48.5vw;
}

#home-spotify-logo {
    width: clamp(3.75rem, 30%, 14.625rem);
    height: width;
    padding-top: 14.688vw;
    padding-left: 2.865vw;
}

#home {
    font-size: 8rem;
    font-weight: 700;
}

#home-black-text {
    color: #191414;
    margin-left: 16vw;
    margin-top: 17vw;
    padding-bottom: 0;
}

#home-white-text {
    color: #FFFFFF;
    padding-top: 0;
    margin-top: -6vw;
    margin-left: 38.385vw;
}

#home-small-text {
    color: #191414;
    font-size: 3vw;
    margin-top: -6vw;
    margin-left: 65vw;
}

#link-spotify-text {
    color: #FFFFFF;
    text-decoration: underline;
}

#navbar {
    background-color: #08065E;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100vw;
    font-size: 2rem;
    font-weight: bold;
    list-style-type: none;
    padding-left: none;
    
    /* padding-bottom: clamp(1.25rem, 3.254vw, 3.875rem);
    padding-top: clamp(0.625rem, 1.626vw, 1.9375rem); */
}

#navbar-text {
    display: flex;
    color: #FFFFFF;
    margin-right: 2.5vw;
    margin-bottom: 2.5vw;
    margin-top: 2.5vw;
}

#navbar-text:hover {
    color: #00F0FF;
}

#navbar-text-highlighted:hover {
    color: #FFFFFF;
}

#navbar-text-right:hover {
    color: #00F0FF;
}

#navbar-text-highlighted {
    display: flex;
    color: #00F0FF;
    margin-right: 2.5vw;
    margin-bottom: 2.5vw;
    margin-top: 2.5vw;
}

#navbar-text-right {
    display: inline;
    position: absolute;
    color: #FFFFFF;
    right: 0;
    bottom: 0;
    margin-right: 2.5vw;
    margin-bottom: 2.5vw;
    margin-top: 2.5vw;
}

#about {
    align-content: center;
    font-size: 3rem;
}